.containerRecoveryPassword{
    font-family: arial;
    background: url('https://images8.alphacoders.com/860/860636.png') ; 
    background-position: no-repeat center top;
    background-size: 100vw 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}